@media not print{
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar { display: none; }
@font-face {
   font-family: 'Avenir Next Cyr Thin';
   src: url('assets/AvenirNextCyr-Thin.eot');
   src: url('assets/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
   url('assets/AvenirNextCyr-Thin.woff') format('woff'),
   url('assets/AvenirNextCyr-Thin.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   }

   @font-face {
      font-family: 'Avenir Next Cyr Light';
      src: url('assets/AvenirNextCyr-Light.eot');
      src: url('assets/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
      url('assets/AvenirNextCyr-Light.woff') format('woff'),
      url('assets/AvenirNextCyr-Light.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      }
      @font-face {
         font-family: 'Avenir Next Cyr Medium';
         src: url('assets/AvenirNextCyr-Medium.eot');
         src: url('assets/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
         url('assets/AvenirNextCyr-Medium.woff') format('woff'),
         url('assets/AvenirNextCyr-Medium.ttf') format('truetype');
         font-weight: normal;
         font-style: normal;
         }
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }
 webview {
    display: block;   /* iframes are inline by default */
    border: none;     /* Reset default border */
    height: 80vh;     /* Viewport-relative units */
    width: 95vw;
   
  }


  .slide-left-enter-active {
    
    transition: all 0.1s ease-out;
  }
  
  .slide-left-leave-active {
    transition: all 0.3s ease-in-out;
  }
  
  .slide-left-enter-from{
    transform: translateX(100vw);
  }
  .slide-left-leave-to {
    transform: translateX(-100vw);
    opacity: 0;
  }
  .slide-right-enter-active {
    
    transition: all 0.1s ease-out;
  }
  
  .slide-right-leave-active {
    transition: all 0.3s ease-in-out;
  }
  
  .slide-right-enter-from{
    transform: translateX(-100vw);
  }
  .slide-right-leave-to {
    transform: translateX(100vw);
    opacity: 0;
  }

  .noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  }

  .list-enter-active,
.list-leave-active {
  transition: all 1s ease;
}
.list-enter-from{
  opacity: 0;
  transform: translateY(-10px);
}
.list-leave-to {
  transform: translateY(10px);
}
}

@media print{
}